.small-text,
small-text a,
small-text a:hover,
small-text a:visited,
small-text a:active {
    color: #6E9BB8;
    font-family: Ubuntu;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

body,
html {
    margin: 0;
    padding: 0;
}


.header,
.footer {
    background: #F0F4F8;
}

.footer {
    height: 60vh;
}


.content-container {
    width: 65vw;
    margin: auto;
}


.parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@media (max-width: 600px) {
    .div1 {
        visibility: hidden;
    }

    .parent {
        display: flex;
        flex-direction: column;
    }
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}